html,
body,
div,
p,
span,
section,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  line-height: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}
h1 {
  font-size: 26px;
  line-height: 36px;
}
h2 {
  font-size: 22px;
  line-height: 32px;
}
h3 {
  font-size: 18px;
  line-height: 25px;
}
h4 {
  font-size: 14px;
  line-height: 20px;
}
h5 {
  font-size: 12px;
  line-height: 20px;
}
body,
main,
section,
article,
div,
p {
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
  }
}
.el-table__body-wrapper {
  scrollbar-width: auto !important;
}
body {
  overflow-y: hidden;
}
#request-loading{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-size: 20px;
}